.mod {
  border: 1px solid #646cff;
  padding: 4px;
  margin: 4px;
  border-radius: 4px;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95vw;
}
.selected{
  background-color: #646cff;
  color: white;
}
.rightList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pathSelector{
  margin: 4px;
}

input{
  width: 95vw;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #646cff;
  height: 30px;
  line-height: 30px;
}